[submodule "site/pack/syntax/start/vim-elixir"]
	path = site/pack/plugins/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir
[submodule "site/pack/syntax/start/nvim-lspconfig"]
	path = site/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "site/pack/syntax/start/null-ls"]
	path = site/pack/plugins/start/null-ls
	url = https://github.com/jose-elias-alvarez/null-ls.nvim
[submodule "site/pack/syntax/start/nvim-lsp-ts-utils"]
	path = site/pack/plugins/start/nvim-lsp-ts-utils
	url = https://github.com/jose-elias-alvarez/nvim-lsp-ts-utils
[submodule "site/pack/plugins/start/vim-unimpaired"]
	path = site/pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "site/pack/plugins/start/telescope.nvim"]
	path = site/pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "site/pack/plugins/start/plenary.nvim"]
	path = site/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "site/pack/plugins/start/vim-test"]
	path = site/pack/plugins/start/vim-test
	url = https://github.com/vim-test/vim-test
[submodule "site/pack/plugins/start/vim-fugitive"]
	path = site/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "site/pack/plugins/start/idris2-vim"]
	path = site/pack/plugins/start/idris2-vim
	url = https://github.com/edwinb/idris2-vim.git
[submodule "site/pack/plugins/start/vim-commentary"]
	path = site/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "site/pack/plugins/start/vim-gitgutter"]
	path = site/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "site/pack/plugins/start/vim-hcl"]
	path = site/pack/plugins/start/vim-hcl
	url = https://github.com/jvirtanen/vim-hcl
[submodule "site/pack/plugins/start/Dockerfile"]
	path = site/pack/plugins/start/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim
[submodule "site/pack/plugins/start/suda"]
	path = site/pack/plugins/start/suda
	url = https://github.com/lambdalisue/suda.vim/
